{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4"><h1>About Page</h1></legend>
    <h4> AnyBlog is an online content management system (CMS) that facilitates the creation of informal online discussion, also called blogs .</h4> 
    <h4> In order to use AnyBlog, users must create a account </h4>
    <h4> This  site is created using Flask framework . We used Python programming language in it . </h4>
    <h4> For Database management inbuilt SQL library known as SQLalchemy was used.</h4>
</div>
{% endblock content %}